{"swagger": "2.0", "info": {"version": "4.0.23.10", "x-looker-release-version": "23.10.64", "title": "Looker API 4.0 Reference", "description": "\nAPI 4.0 is the current release of the Looker API. API 3.1 is deprecated.\n\n### Authorization\n\nThe classic method of API authorization uses Looker **API** credentials for authorization and access control.\nLooker admins can create API credentials on Looker's **Admin/Users** page.\n\nAPI 4.0 adds additional ways to authenticate API requests, including OAuth and CORS requests.\n\nFor details, see [Looker API Authorization](https://cloud.google.com/looker/docs/r/api/authorization).\n\n\n### API Explorer\n\nThe API Explorer is a Looker-provided utility with many new and unique features for learning and using the Looker API and SDKs.\n\nFor details, see the [API Explorer documentation](https://cloud.google.com/looker/docs/r/api/explorer).\n\n\n### Looker Language SDKs\n\nThe Looker API is a RESTful system that should be usable by any programming language capable of making\nHTTPS requests. SDKs for a variety of programming languages are also provided to streamline using the API. Looker\nhas an OpenSource [sdk-codegen project](https://github.com/looker-open-source/sdk-codegen) that provides several\nlanguage SDKs. Language SDKs generated by `sdk-codegen` have an Authentication manager that can automatically\nauthenticate API requests when needed.\n\nFor details on available Looker SDKs, see [Looker API Client SDKs](https://cloud.google.com/looker/docs/r/api/client_sdks).\n\n\n### API Versioning\n\nFuture releases of Looker expand the latest API version release-by-release to securely expose more and more of the core\npower of the Looker platform to API client applications. API endpoints marked as \"beta\" may receive breaking changes without\nwarning (but we will try to avoid doing that). Stable (non-beta) API endpoints should not receive breaking\nchanges in future releases.\n\nFor details, see [Looker API Versioning](https://cloud.google.com/looker/docs/r/api/versioning).\n\n\n### In This Release\n\nAPI 4.0 version was introduced to make adjustments to API functions, parameters, and response types to\nfix bugs and inconsistencies. These changes fall outside the bounds of non-breaking additive changes we can\nmake to the previous API 3.1.\n\nOne benefit of these type adjustments in API 4.0 is dramatically better support for strongly\ntyped languages like TypeScript, Kotlin, Swift, Go, C#, and more.\n\nSee the [API 4.0 GA announcement](https://developers.looker.com/api/advanced-usage/version-4-ga) for more information\nabout API 4.0.\n\nThe API Explorer can be used to [interactively compare](https://cloud.google.com/looker/docs/r/api/explorer#comparing_api_versions) the differences between API 3.1 and 4.0.\n\n\n### API and SDK Support Policies\n\nLooker API versions and language SDKs have varying support levels. Please read the API and SDK\n[support policies](https://cloud.google.com/looker/docs/r/api/support-policy) for more information.\n\n\n", "contact": {"name": "Looker Team", "url": "https://help.looker.com"}, "license": {"name": "EULA", "url": "https://9fb5bcd5-f335-4f56-8d51-a6b89011bef0.looker.app/eula"}}, "basePath": "/api/4.0", "consumes": ["application/json"], "produces": ["application/json"], "host": "9fb5bcd5-f335-4f56-8d51-a6b89011bef0.looker.app:443", "schemes": ["https"], "tags": [{"name": "Alert", "description": "Alert"}, {"name": "ApiAuth", "description": "API Authentication"}, {"name": "Artifact", "description": "Artifact Storage"}, {"name": "Auth", "description": "Manage User Authentication Configuration"}, {"name": "Board", "description": "Manage Boards"}, {"name": "ColorCollection", "description": "Manage Color Collections"}, {"name": "Config", "description": "Manage General Configuration"}, {"name": "Connection", "description": "Manage Database Connections"}, {"name": "Content", "description": "Manage Content"}, {"name": "Dashboard", "description": "Manage Dashboards"}, {"name": "DataAction", "description": "Run Data Actions"}, {"name": "Datagroup", "description": "Manage Datagroups"}, {"name": "DerivedTable", "description": "View Derived Table graphs"}, {"name": "Folder", "description": "Manage Folders"}, {"name": "Group", "description": "Manage Groups"}, {"name": "Homepage", "description": "Manage Homepage"}, {"name": "Integration", "description": "Manage Integrations"}, {"name": "Look", "description": "Run and Manage Looks"}, {"name": "LookmlModel", "description": "Manage LookML Models"}, {"name": "Metadata", "description": "Connection Metadata Features"}, {"name": "Project", "description": "Manage Projects"}, {"name": "Query", "description": "Run and Manage Queries"}, {"name": "RenderTask", "description": "Manage Render Tasks"}, {"name": "Role", "description": "Manage Roles"}, {"name": "ScheduledPlan", "description": "Manage Scheduled Plans"}, {"name": "Session", "description": "Session Information"}, {"name": "Theme", "description": "Manage Themes"}, {"name": "User", "description": "Manage Users"}, {"name": "UserAttribute", "description": "Manage User Attributes"}, {"name": "Workspace", "description": "Manage Workspaces"}], "paths": {"/query_tasks": {"post": {"tags": ["Query"], "operationId": "create_query_task", "summary": "Run Query Async", "description": "### Create an async query task\n\nCreates a query task (job) to run a previously created query asynchronously. Returns a Query Task ID.\n\nUse [query_task(query_task_id)](#!/Query/query_task) to check the execution status of the query task.\nAfter the query task status reaches \"Complete\", use [query_task_results(query_task_id)](#!/Query/query_task_results) to fetch the results of the query.\n", "parameters": [{"name": "body", "in": "body", "description": "Query parameters", "required": true, "schema": {"$ref": "#/definitions/CreateQueryTask"}}, {"name": "limit", "in": "query", "description": "Row limit (may override the limit in the saved query).", "required": false, "type": "integer", "format": "int64"}, {"name": "apply_formatting", "in": "query", "description": "Apply model-specified formatting to each result.", "required": false, "type": "boolean"}, {"name": "apply_vis", "in": "query", "description": "Apply visualization options to results.", "required": false, "type": "boolean"}, {"name": "cache", "in": "query", "description": "Get results from cache if available.", "required": false, "type": "boolean"}, {"name": "generate_drill_links", "in": "query", "description": "Generate drill links (only applicable to 'json_detail' format.", "required": false, "type": "boolean"}, {"name": "force_production", "in": "query", "description": "Force use of production models even if the user is in development mode. Note that this flag being false does not guarantee development models will be used.", "required": false, "type": "boolean"}, {"name": "cache_only", "in": "query", "description": "Retrieve any results from cache even if the results have expired.", "required": false, "type": "boolean"}, {"name": "path_prefix", "in": "query", "description": "Prefix to use for drill links (url encoded).", "required": false, "type": "string"}, {"name": "rebuild_pdts", "in": "query", "description": "Rebuild PDTS used in query.", "required": false, "type": "boolean"}, {"name": "server_table_calcs", "in": "query", "description": "Perform table calculations on query results", "required": false, "type": "boolean"}, {"name": "image_width", "in": "query", "description": "DEPRECATED. Render width for image formats. Note that this parameter is always ignored by this method.", "required": false, "type": "integer", "format": "int64", "x-looker-deprecated": true}, {"name": "image_height", "in": "query", "description": "DEPRECATED. Render height for image formats. Note that this parameter is always ignored by this method.", "required": false, "type": "integer", "format": "int64", "x-looker-deprecated": true}, {"name": "fields", "in": "query", "description": "Requested fields", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "query_task", "schema": {"$ref": "#/definitions/QueryTask"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/query_tasks/multi_results": {"get": {"tags": ["Query"], "operationId": "query_task_multi_results", "summary": "Get Multiple Async Query Results", "description": "### Fetch results of multiple async queries\n\nReturns the results of multiple async queries in one request.\n\nFor Query Tasks that are not completed, the response will include the execution status of the Query Task but will not include query results.\nQuery Tasks whose results have expired will have a status of 'expired'.\nIf the user making the API request does not have sufficient privileges to view a Query Task result, the result will have a status of 'missing'\n", "parameters": [{"name": "query_task_ids", "in": "query", "description": "List of Query Task IDs", "required": true, "type": "array", "items": {"type": "string"}, "collectionFormat": "csv"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Multiple query results", "schema": {"type": "object", "additionalProperties": {"type": "any", "format": "any"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/query_tasks/{query_task_id}": {"get": {"tags": ["Query"], "operationId": "query_task", "summary": "Get Async Query Info", "description": "### Get Query Task details\n\nUse this function to check the status of an async query task. After the status\nreaches \"Complete\", you can call [query_task_results(query_task_id)](#!/Query/query_task_results) to\nretrieve the results of the query.\n\nUse [create_query_task()](#!/Query/create_query_task) to create an async query task.\n", "parameters": [{"name": "query_task_id", "in": "path", "description": "ID of the Query Task", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "query_task", "schema": {"$ref": "#/definitions/QueryTask"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/query_tasks/{query_task_id}/results": {"get": {"tags": ["Query"], "operationId": "query_task_results", "summary": "Get Async Query Results", "description": "### Get Async Query Results\n\nReturns the results of an async query task if the query has completed.\n\nIf the query task is still running or waiting to run, this function returns 204 No Content.\n\nIf the query task ID is invalid or the cached results of the query task have expired, this function returns 404 Not Found.\n\nUse [query_task(query_task_id)](#!/Query/query_task) to check the execution status of the query task\nCall query_task_results only after the query task status reaches \"Complete\".\n\nYou can also use [query_task_multi_results()](#!/Query/query_task_multi_results) retrieve the\nresults of multiple async query tasks at the same time.\n\n#### SQL Error Handling:\nIf the query fails due to a SQL db error, how this is communicated depends on the result_format you requested in `create_query_task()`.\n\nFor `json_detail` result_format: `query_task_results()` will respond with HTTP status '200 OK' and db SQL error info\nwill be in the `errors` property of the response object. The 'data' property will be empty.\n\nFor all other result formats: `query_task_results()` will respond with HTTP status `400 Bad Request` and some db SQL error info\nwill be in the message of the 400 error response, but not as detailed as expressed in `json_detail.errors`.\nThese data formats can only carry row data, and error info is not row data.\n", "produces": ["text", "application/json"], "parameters": [{"name": "query_task_id", "in": "path", "description": "ID of the Query Task", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "The Query Task Id was not found or the results have expired.", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "The query results.", "schema": {"type": "string"}}, "204": {"description": "The query is not finished", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries/{query_id}": {"get": {"tags": ["Query"], "operationId": "query", "summary": "Get Query", "description": "### Get a previously created query by id.\n\nA Looker query object includes the various parameters that define a database query that has been run or\ncould be run in the future. These parameters include: model, view, fields, filters, pivots, etc.\nQuery *results* are not part of the query object.\n\nQuery objects are unique and immutable. Query objects are created automatically in Looker as users explore data.\nLooker does not delete them; they become part of the query history. When asked to create a query for\nany given set of parameters, Looker will first try to find an existing query object with matching\nparameters and will only create a new object when an appropriate object can not be found.\n\nThis 'get' method is used to get the details about a query for a given id. See the other methods here\nto 'create' and 'run' queries.\n\nNote that some fields like 'filter_config' and 'vis_config' etc are specific to how the Looker UI\nbuilds queries and visualizations and are not generally useful for API use. They are not required when\ncreating new queries and can usually just be ignored.\n\n", "parameters": [{"name": "query_id", "in": "path", "description": "Id of query", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query", "schema": {"$ref": "#/definitions/Query"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries/slug/{slug}": {"get": {"tags": ["Query"], "operationId": "query_for_slug", "summary": "Get Query for Slug", "description": "### Get the query for a given query slug.\n\nThis returns the query for the 'slug' in a query share URL.\n\nThe 'slug' is a randomly chosen short string that is used as an alternative to the query's id value\nfor use in URLs etc. This method exists as a convenience to help you use the API to 'find' queries that\nhave been created using the Looker UI.\n\nYou can use the Looker explore page to build a query and then choose the 'Share' option to\nshow the share url for the query. Share urls generally look something like 'https://looker.yourcompany/x/vwGSbfc'.\nThe trailing 'vwGSbfc' is the share slug. You can pass that string to this api method to get details about the query.\nThose details include the 'id' that you can use to run the query. Or, you can copy the query body\n(perhaps with your own modification) and use that as the basis to make/run new queries.\n\nThis will also work with slugs from Looker explore urls like\n'https://looker.yourcompany/explore/ecommerce/orders?qid=aogBgL6o3cKK1jN3RoZl5s'. In this case\n'aogBgL6o3cKK1jN3RoZl5s' is the slug.\n", "parameters": [{"name": "slug", "in": "path", "description": "Slug of query", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query", "schema": {"$ref": "#/definitions/Query"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries": {"post": {"tags": ["Query"], "operationId": "create_query", "summary": "Create Query", "description": "### Create a query.\n\nThis allows you to create a new query that you can later run. Looker queries are immutable once created\nand are not deleted. If you create a query that is exactly like an existing query then the existing query\nwill be returned and no new query will be created. Whether a new query is created or not, you can use\nthe 'id' in the returned query with the 'run' method.\n\nThe query parameters are passed as json in the body of the request.\n\n", "parameters": [{"name": "body", "in": "body", "description": "Query", "required": true, "schema": {"$ref": "#/definitions/Query"}}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query", "schema": {"$ref": "#/definitions/Query"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries/{query_id}/run/{result_format}": {"get": {"tags": ["Query"], "operationId": "run_query", "summary": "Run Query", "description": "### Run a saved query.\n\nThis runs a previously saved query. You can use this on a query that was generated in the Looker UI\nor one that you have explicitly created using the API. You can also use a query 'id' from a saved 'Look'.\n\nThe 'result_format' parameter specifies the desired structure and format of the response.\n\nSupported formats:\n\n| result_format | Description\n| :-----------: | :--- |\n| json | Plain json\n| json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query\n| csv | Comma separated values with a header\n| txt | Tab separated values with a header\n| html | Simple html\n| md | Simple markdown\n| xlsx | MS Excel spreadsheet\n| sql | Returns the generated SQL rather than running the query\n| png | A PNG image of the visualization of the query\n| jpg | A JPG image of the visualization of the query\n\n\n", "produces": ["text", "application/json", "image/png", "image/jpeg"], "parameters": [{"name": "query_id", "in": "path", "description": "Id of query", "required": true, "type": "string"}, {"name": "result_format", "in": "path", "description": "Format of result", "required": true, "type": "string"}, {"name": "limit", "in": "query", "description": "Row limit (may override the limit in the saved query).", "required": false, "type": "integer", "format": "int64"}, {"name": "apply_formatting", "in": "query", "description": "Apply model-specified formatting to each result.", "required": false, "type": "boolean"}, {"name": "apply_vis", "in": "query", "description": "Apply visualization options to results.", "required": false, "type": "boolean"}, {"name": "cache", "in": "query", "description": "Get results from cache if available.", "required": false, "type": "boolean"}, {"name": "image_width", "in": "query", "description": "Render width for image formats.", "required": false, "type": "integer", "format": "int64"}, {"name": "image_height", "in": "query", "description": "Render height for image formats.", "required": false, "type": "integer", "format": "int64"}, {"name": "generate_drill_links", "in": "query", "description": "Generate drill links (only applicable to 'json_detail' format.", "required": false, "type": "boolean"}, {"name": "force_production", "in": "query", "description": "Force use of production models even if the user is in development mode. Note that this flag being false does not guarantee development models will be used.", "required": false, "type": "boolean"}, {"name": "cache_only", "in": "query", "description": "Retrieve any results from cache even if the results have expired.", "required": false, "type": "boolean"}, {"name": "path_prefix", "in": "query", "description": "Prefix to use for drill links (url encoded).", "required": false, "type": "string"}, {"name": "rebuild_pdts", "in": "query", "description": "Rebuild PDTS used in query.", "required": false, "type": "boolean"}, {"name": "server_table_calcs", "in": "query", "description": "Perform table calculations on query results", "required": false, "type": "boolean"}, {"name": "source", "in": "query", "description": "Specifies the source of this call.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries/run/{result_format}": {"post": {"tags": ["Query"], "operationId": "run_inline_query", "summary": "Run Inline Query", "description": "### Run the query that is specified inline in the posted body.\n\nThis allows running a query as defined in json in the posted body. This combines\nthe two actions of posting & running a query into one step.\n\nHere is an example body in json:\n```\n{\n  \"model\":\"thelook\",\n  \"view\":\"inventory_items\",\n  \"fields\":[\"category.name\",\"inventory_items.days_in_inventory_tier\",\"products.count\"],\n  \"filters\":{\"category.name\":\"socks\"},\n  \"sorts\":[\"products.count desc 0\"],\n  \"limit\":\"500\",\n  \"query_timezone\":\"America/Los_Angeles\"\n}\n```\n\nWhen using the Ruby SDK this would be passed as a Ruby hash like:\n```\n{\n :model=>\"thelook\",\n :view=>\"inventory_items\",\n :fields=>\n  [\"category.name\",\n   \"inventory_items.days_in_inventory_tier\",\n   \"products.count\"],\n :filters=>{:\"category.name\"=>\"socks\"},\n :sorts=>[\"products.count desc 0\"],\n :limit=>\"500\",\n :query_timezone=>\"America/Los_Angeles\",\n}\n```\n\nThis will return the result of running the query in the format specified by the 'result_format' parameter.\n\nSupported formats:\n\n| result_format | Description\n| :-----------: | :--- |\n| json | Plain json\n| json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query\n| csv | Comma separated values with a header\n| txt | Tab separated values with a header\n| html | Simple html\n| md | Simple markdown\n| xlsx | MS Excel spreadsheet\n| sql | Returns the generated SQL rather than running the query\n| png | A PNG image of the visualization of the query\n| jpg | A JPG image of the visualization of the query\n\n\n", "produces": ["text", "application/json", "image/png", "image/jpeg"], "parameters": [{"name": "result_format", "in": "path", "description": "Format of result", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "inline query", "required": true, "schema": {"$ref": "#/definitions/Query"}}, {"name": "limit", "in": "query", "description": "Row limit (may override the limit in the saved query).", "required": false, "type": "integer", "format": "int64"}, {"name": "apply_formatting", "in": "query", "description": "Apply model-specified formatting to each result.", "required": false, "type": "boolean"}, {"name": "apply_vis", "in": "query", "description": "Apply visualization options to results.", "required": false, "type": "boolean"}, {"name": "cache", "in": "query", "description": "Get results from cache if available.", "required": false, "type": "boolean"}, {"name": "image_width", "in": "query", "description": "Render width for image formats.", "required": false, "type": "integer", "format": "int64"}, {"name": "image_height", "in": "query", "description": "Render height for image formats.", "required": false, "type": "integer", "format": "int64"}, {"name": "generate_drill_links", "in": "query", "description": "Generate drill links (only applicable to 'json_detail' format.", "required": false, "type": "boolean"}, {"name": "force_production", "in": "query", "description": "Force use of production models even if the user is in development mode. Note that this flag being false does not guarantee development models will be used.", "required": false, "type": "boolean"}, {"name": "cache_only", "in": "query", "description": "Retrieve any results from cache even if the results have expired.", "required": false, "type": "boolean"}, {"name": "path_prefix", "in": "query", "description": "Prefix to use for drill links (url encoded).", "required": false, "type": "string"}, {"name": "rebuild_pdts", "in": "query", "description": "Rebuild PDTS used in query.", "required": false, "type": "boolean"}, {"name": "server_table_calcs", "in": "query", "description": "Perform table calculations on query results", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query Result", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/queries/models/{model_name}/views/{view_name}/run/{result_format}": {"get": {"tags": ["Query"], "operationId": "run_url_encoded_query", "summary": "Run Url Encoded Query", "description": "### Run an URL encoded query.\n\nThis requires the caller to encode the specifiers for the query into the URL query part using\nLooker-specific syntax as explained below.\n\nGenerally, you would want to use one of the methods that takes the parameters as json in the POST body\nfor creating and/or running queries. This method exists for cases where one really needs to encode the\nparameters into the URL of a single 'GET' request. This matches the way that the Looker UI formats\n'explore' URLs etc.\n\nThe parameters here are very similar to the json body formatting except that the filter syntax is\ntricky. Unfortunately, this format makes this method not currently callable via the 'Try it out!' button\nin this documentation page. But, this is callable when creating URLs manually or when using the Looker SDK.\n\nHere is an example inline query URL:\n\n```\nhttps://looker.mycompany.com:19999/api/3.0/queries/models/thelook/views/inventory_items/run/json?fields=category.name,inventory_items.days_in_inventory_tier,products.count&f[category.name]=socks&sorts=products.count+desc+0&limit=500&query_timezone=America/Los_Angeles\n```\n\nWhen invoking this endpoint with the Ruby SDK, pass the query parameter parts as a hash. The hash to match the above would look like:\n\n```ruby\nquery_params =\n{\n  fields: \"category.name,inventory_items.days_in_inventory_tier,products.count\",\n  :\"f[category.name]\" => \"socks\",\n  sorts: \"products.count desc 0\",\n  limit: \"500\",\n  query_timezone: \"America/Los_Angeles\"\n}\nresponse = ruby_sdk.run_url_encoded_query('thelook','inventory_items','json', query_params)\n\n```\n\nAgain, it is generally easier to use the variant of this method that passes the full query in the POST body.\nThis method is available for cases where other alternatives won't fit the need.\n\nSupported formats:\n\n| result_format | Description\n| :-----------: | :--- |\n| json | Plain json\n| json_detail | Row data plus metadata describing the fields, pivots, table calcs, and other aspects of the query\n| csv | Comma separated values with a header\n| txt | Tab separated values with a header\n| html | Simple html\n| md | Simple markdown\n| xlsx | MS Excel spreadsheet\n| sql | Returns the generated SQL rather than running the query\n| png | A PNG image of the visualization of the query\n| jpg | A JPG image of the visualization of the query\n\n\n", "produces": ["text", "application/json", "image/png", "image/jpeg"], "parameters": [{"name": "model_name", "in": "path", "description": "Model name", "required": true, "type": "string"}, {"name": "view_name", "in": "path", "description": "View name", "required": true, "type": "string"}, {"name": "result_format", "in": "path", "description": "Format of result", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Query", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/login": {"post": {"tags": ["ApiAuth"], "operationId": "login", "summary": "Login", "description": "### Present client credentials to obtain an authorization token\n\nLooker API implements the OAuth2 [Resource Owner Password Credentials Grant](https://cloud.google.com/looker/docs/r/api/outh2_resource_owner_pc) pattern.\nThe client credentials required for this login must be obtained by creating an API key on a user account\nin the Looker Admin console. The API key consists of a public `client_id` and a private `client_secret`.\n\nThe access token returned by `login` must be used in the HTTP Authorization header of subsequent\nAPI requests, like this:\n```\nAuthorization: token 4QDkCyCtZzYgj4C2p2cj3csJH7zqS5RzKs2kTnG4\n```\nReplace \"4QDkCy...\" with the `access_token` value returned by `login`.\nThe word `token` is a string literal and must be included exactly as shown.\n\nThis function can accept `client_id` and `client_secret` parameters as URL query params or as www-form-urlencoded params in the body of the HTTP request. Since there is a small risk that URL parameters may be visible to intermediate nodes on the network route (proxies, routers, etc), passing credentials in the body of the request is considered more secure than URL params.\n\nExample of passing credentials in the HTTP request body:\n````\nPOST HTTP /login\nContent-Type: application/x-www-form-urlencoded\n\nclient_id=CGc9B7v7J48dQSJvxxx&client_secret=nNVS9cSS3xNpSC9JdsBvvvvv\n````\n\n### Best Practice:\nAlways pass credentials in body params. Pass credentials in URL query params **only** when you cannot pass body params due to application, tool, or other limitations.\n\nFor more information and detailed examples of Looker API authorization, see [How to Authenticate to Looker API](https://github.com/looker/looker-sdk-ruby/blob/master/authentication.md).\n", "consumes": ["application/x-www-form-urlencoded"], "parameters": [{"name": "client_id", "in": "query", "description": "client_id part of API Key.", "required": false, "type": "string"}, {"name": "client_secret", "in": "query", "description": "client_secret part of API Key.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Access token with metadata.", "schema": {"$ref": "#/definitions/AccessToken"}}}, "x-looker-status": "stable", "x-looker-activity-type": "none"}}, "/login/{user_id}": {"post": {"tags": ["ApiAuth"], "operationId": "login_user", "summary": "Login user", "description": "### Create an access token that runs as a given user.\n\nThis can only be called by an authenticated admin user. It allows that admin to generate a new\nauthentication token for the user with the given user id. That token can then be used for subsequent\nAPI calls - which are then performed *as* that target user.\n\nThe target user does *not* need to have a pre-existing API client_id/client_secret pair. And, no such\ncredentials are created by this call.\n\nThis allows for building systems where api user authentication for an arbitrary number of users is done\noutside of Looker and funneled through a single 'service account' with admin permissions. Note that a\nnew access token is generated on each call. If target users are going to be making numerous API\ncalls in a short period then it is wise to cache this authentication token rather than call this before\neach of those API calls.\n\nSee 'login' for more detail on the access token and how to use it.\n\nCalls to this endpoint may be denied by [Looker (Google Cloud core)](https://cloud.google.com/looker/docs/r/looker-core/overview).\n", "parameters": [{"name": "user_id", "in": "path", "description": "Id of user.", "required": true, "type": "string"}, {"name": "associative", "in": "query", "description": "When true (default), API calls using the returned access_token are attributed to the admin user who created the access_token. When false, API activity is attributed to the user the access_token runs as. False requires a looker license.", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Access token with metadata.", "schema": {"$ref": "#/definitions/AccessToken"}}}, "x-looker-status": "stable", "x-looker-activity-type": "none"}}, "/logout": {"delete": {"tags": ["ApiAuth"], "operationId": "logout", "summary": "Logout", "description": "### Logout of the API and invalidate the current access token.\n", "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Logged out successfully.", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "none"}}, "/alerts/{alert_id}/follow": {"post": {"tags": ["Alert"], "operationId": "follow_alert", "summary": "Follow an alert", "description": "Follow an alert.", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Successfully followed an alert."}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["Alert"], "operationId": "unfollow_alert", "summary": "Unfollow an alert", "description": "Unfollow an alert.", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Successfully unfollowed an alert."}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/alerts/search": {"get": {"tags": ["Alert"], "operationId": "search_alerts", "summary": "Search Alerts", "description": "### Search Alerts\n", "parameters": [{"name": "limit", "in": "query", "description": "(Optional) Number of results to return (used with `offset`).", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "(Optional) Number of results to skip before returning any (used with `limit`).", "required": false, "type": "integer", "format": "int64"}, {"name": "group_by", "in": "query", "description": "(Optional) Dimension by which to order the results(`dashboard` | `owner`)", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "(Optional) Requested fields.", "required": false, "type": "string"}, {"name": "disabled", "in": "query", "description": "(Optional) Filter on returning only enabled or disabled alerts.", "required": false, "type": "boolean"}, {"name": "frequency", "in": "query", "description": "(Optional) Filter on alert frequency, such as: monthly, weekly, daily, hourly, minutes", "required": false, "type": "string"}, {"name": "condition_met", "in": "query", "description": "(Optional) Filter on whether the alert has met its condition when it last executed", "required": false, "type": "boolean"}, {"name": "last_run_start", "in": "query", "description": "(Optional) Filter on the start range of the last time the alerts were run. Example: 2021-01-01T01:01:01-08:00.", "required": false, "type": "string"}, {"name": "last_run_end", "in": "query", "description": "(Optional) Filter on the start range of the last time the alerts were run. Example: 2021-01-01T01:01:01-08:00.", "required": false, "type": "string"}, {"name": "all_owners", "in": "query", "description": "(Admin only) (Optional) Filter for all owners.", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Alert.", "schema": {"type": "array", "items": {"$ref": "#/definitions/Alert"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/alerts/{alert_id}": {"get": {"tags": ["Alert"], "operationId": "get_alert", "summary": "Get an alert", "description": "### Get an alert by a given alert ID\n", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Alert", "schema": {"$ref": "#/definitions/Alert"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "patch": {"tags": ["Alert"], "operationId": "update_alert_field", "summary": "Update select fields on an alert", "description": "### Update select alert fields\n# Available fields: `owner_id`, `is_disabled`, `disabled_reason`, `is_public`, `threshold`\n#\n", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "Alert", "required": true, "schema": {"$ref": "#/definitions/AlertPatch"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "The alert is saved.", "schema": {"$ref": "#/definitions/Alert"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "put": {"tags": ["Alert"], "operationId": "update_alert", "summary": "Update an alert", "description": "### Update an alert\n# Required fields: `owner_id`, `field`, `destinations`, `comparison_type`, `threshold`, `cron`\n#\n", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "Alert", "required": true, "schema": {"$ref": "#/definitions/Alert"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "The alert is saved.", "schema": {"$ref": "#/definitions/Alert"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["Alert"], "operationId": "delete_alert", "summary": "Delete an alert", "description": "### Delete an alert by a given alert ID\n", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Alert successfully deleted."}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/alerts": {"post": {"tags": ["Alert"], "operationId": "create_alert", "summary": "Create an alert", "description": "### Create a new alert and return details of the newly created object\n\nRequired fields: `field`, `destinations`, `comparison_type`, `threshold`, `cron`\n\nExample Request:\nRun alert on dashboard element '103' at 5am every day. Send an email to 'test@test.com' if inventory for Los Angeles (using dashboard filter `Warehouse Name`) is lower than 1,000\n```\n{\n  \"cron\": \"0 5 * * *\",\n  \"custom_title\": \"Alert when LA inventory is low\",\n  \"dashboard_element_id\": 103,\n  \"applied_dashboard_filters\": [\n    {\n      \"filter_title\": \"Warehouse Name\",\n      \"field_name\": \"distribution_centers.name\",\n      \"filter_value\": \"Los Angeles CA\",\n      \"filter_description\": \"is Los Angeles CA\"\n    }\n  ],\n  \"comparison_type\": \"LESS_THAN\",\n  \"destinations\": [\n    {\n      \"destination_type\": \"EMAIL\",\n      \"email_address\": \"test@test.com\"\n    }\n  ],\n  \"field\": {\n    \"title\": \"Number on Hand\",\n    \"name\": \"inventory_items.number_on_hand\"\n  },\n  \"is_disabled\": false,\n  \"is_public\": true,\n  \"threshold\": 1000\n}\n```\n", "parameters": [{"name": "body", "in": "body", "description": "Alert", "required": true, "schema": {"$ref": "#/definitions/Alert"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "405": {"description": "Resource Can't Be Modified", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "The alert is saved.", "schema": {"$ref": "#/definitions/Alert"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/alerts/{alert_id}/enqueue": {"post": {"tags": ["Alert"], "operationId": "enqueue_alert", "summary": "Enqueue an alert", "description": "### Enqueue an Alert by ID\n", "parameters": [{"name": "alert_id", "in": "path", "description": "ID of an alert", "required": true, "type": "string"}, {"name": "force", "in": "query", "description": "Whether to enqueue an alert again if its already running.", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Alert successfully added to the queue. Does not indicate it has been run"}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/alert_notifications": {"get": {"tags": ["Alert"], "operationId": "alert_notifications", "summary": "Alert Notifications", "description": "# Alert Notifications.\n  The endpoint returns all the alert notifications received by the user on email in the past 7 days. It also returns whether the notifications have been read by the user.\n\n", "parameters": [{"name": "limit", "in": "query", "description": "(Optional) Number of results to return (used with `offset`).", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "(Optional) Number of results to skip before returning any (used with `limit`).", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "It shows all the alert notifications received by the user on email.", "schema": {"type": "array", "items": {"$ref": "#/definitions/AlertNotifications"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/alert_notifications/{alert_notification_id}": {"patch": {"tags": ["Alert"], "operationId": "read_alert_notification", "summary": "Read a Notification", "description": "# Reads a Notification\n  The endpoint marks a given alert notification as read by the user, in case it wasn't already read. The AlertNotification model is updated for this purpose. It returns the notification as a response.\n", "parameters": [{"name": "alert_notification_id", "in": "path", "description": "ID of a notification", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "It updates that the given alert notification has been read by the user", "schema": {"$ref": "#/definitions/AlertNotifications"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/artifact/usage": {"get": {"tags": ["Artifact"], "operationId": "artifact_usage", "summary": "Artifact store usage", "description": "Get the maximum configured size of the entire artifact store, and the currently used storage in bytes.\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "fields", "in": "query", "description": "Comma-delimited names of fields to return in responses. Omit for all fields", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Artifact store statistics", "schema": {"$ref": "#/definitions/ArtifactUsage"}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query"}}, "/artifact/namespaces": {"get": {"tags": ["Artifact"], "operationId": "artifact_namespaces", "summary": "Get namespaces and counts", "description": "Get all artifact namespaces and the count of artifacts in each namespace\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "fields", "in": "query", "description": "Comma-delimited names of fields to return in responses. Omit for all fields", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return. (used with offset)", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any. (used with limit)", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "200": {"description": "Artifact store namespace counts", "schema": {"type": "array", "items": {"$ref": "#/definitions/ArtifactNamespace"}}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/artifact/{namespace}/value": {"get": {"tags": ["Artifact"], "operationId": "artifact_value", "summary": "Get an artifact value", "description": "### Return the value of an artifact\n\nThe MIME type for the API response is set to the `content_type` of the value\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}, {"name": "key", "in": "query", "description": "Artifact storage key. Namespace + Key must be unique", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Artifact value", "schema": {"type": "string"}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query"}}, "/artifact/{namespace}/purge": {"delete": {"tags": ["Artifact"], "operationId": "purge_artifacts", "summary": "Purge artifacts", "description": "Remove *all* artifacts from a namespace. Purged artifacts are permanently deleted\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "All artifacts are purged."}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/artifact/{namespace}/search": {"get": {"tags": ["Artifact"], "operationId": "search_artifacts", "summary": "Search artifacts", "description": "### Search all key/value pairs in a namespace for matching criteria.\n\nReturns an array of artifacts matching the specified search criteria.\n\nKey search patterns use case-insensitive matching and can contain `%` and `_` as SQL LIKE pattern match wildcard expressions.\n\nThe parameters `min_size` and `max_size` can be used individually or together.\n\n- `min_size` finds artifacts with sizes greater than or equal to its value\n- `max_size` finds artifacts with sizes less than or equal to its value\n- using both parameters restricts the minimum and maximum size range for artifacts\n\n**NOTE**: Artifacts are always returned in alphanumeric order by key.\n\nGet a **single artifact** by namespace and key with [`artifact`](#!/Artifact/artifact)\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Comma-delimited names of fields to return in responses. Omit for all fields", "required": false, "type": "string"}, {"name": "key", "in": "query", "description": "Key pattern to match", "required": false, "type": "string"}, {"name": "user_ids", "in": "query", "description": "Ids of users who created or updated the artifact (comma-delimited list)", "required": false, "type": "string"}, {"name": "min_size", "in": "query", "description": "Minimum storage size of the artifact", "required": false, "type": "integer", "format": "int64"}, {"name": "max_size", "in": "query", "description": "Maximum storage size of the artifact", "required": false, "type": "integer", "format": "int64"}, {"name": "limit", "in": "query", "description": "Number of results to return. (used with offset)", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any. (used with limit)", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "200": {"description": "Artifacts", "schema": {"type": "array", "items": {"$ref": "#/definitions/Artifact"}}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/artifact/{namespace}": {"get": {"tags": ["Artifact"], "operationId": "artifact", "summary": "Get one or more artifacts", "description": "### Get one or more artifacts\n\nReturns an array of artifacts matching the specified key value(s).\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}, {"name": "key", "in": "query", "description": "Comma-delimited list of keys. Wildcards not allowed.", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Comma-delimited names of fields to return in responses. Omit for all fields", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return. (used with offset)", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any. (used with limit)", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Created or updated artifacts", "schema": {"type": "array", "items": {"$ref": "#/definitions/Artifact"}}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["Artifact"], "operationId": "delete_artifact", "summary": "Delete one or more artifacts", "description": "### Delete one or more artifacts\n\nTo avoid rate limiting on deletion requests, multiple artifacts can be deleted at the same time by using a comma-delimited list of artifact keys.\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}, {"name": "key", "in": "query", "description": "Comma-delimited list of keys. Wildcards not allowed.", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "The artifact is deleted."}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/artifacts/{namespace}": {"put": {"tags": ["Artifact"], "operationId": "update_artifacts", "summary": "Create or update artifacts", "description": "### Create or update one or more artifacts\n\nOnly `key` and `value` are required to _create_ an artifact.\nTo _update_ an artifact, its current `version` value must be provided.\n\nIn the following example `body` payload, `one` and `two` are existing artifacts, and `three` is new:\n\n```json\n[\n  { \"key\": \"one\", \"value\": \"[ \\\"updating\\\", \\\"existing\\\", \\\"one\\\" ]\", \"version\": 10, \"content_type\": \"application/json\" },\n  { \"key\": \"two\", \"value\": \"updating existing two\", \"version\": 20 },\n  { \"key\": \"three\", \"value\": \"creating new three\" },\n]\n```\n\nNotes for this body:\n\n- The `value` for `key` **one** is a JSON payload, so a `content_type` override is needed. This override must be done **every** time a JSON value is set.\n- The `version` values for **one** and **two** mean they have been saved 10 and 20 times, respectively.\n- If `version` is **not** provided for an existing artifact, the entire request will be refused and a `Bad Request` response will be sent.\n- If `version` is provided for an artifact, it is only used for helping to prevent inadvertent data overwrites. It cannot be used to **set** the version of an artifact. The Looker server controls `version`.\n- We suggest encoding binary values as base64. Because the MIME content type for base64 is detected as plain text, also provide `content_type` to correctly indicate the value's type for retrieval and client-side processing.\n\nBecause artifacts are stored encrypted, the same value can be written multiple times (provided the correct `version` number is used). Looker does not examine any values stored in the artifact store, and only decrypts when sending artifacts back in an API response.\n\n**Note**: The artifact storage API can only be used by Looker-built extensions.\n\n", "parameters": [{"name": "namespace", "in": "path", "description": "Artifact storage namespace", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "Artifacts to create or update", "required": true, "schema": {"type": "array", "items": {"$ref": "#/definitions/UpdateArtifact"}}}, {"name": "fields", "in": "query", "description": "Comma-delimited names of fields to return in responses. Omit for all fields", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Created or updated artifacts", "schema": {"type": "array", "items": {"$ref": "#/definitions/Artifact"}}}}, "x-looker-status": "alpha", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}}, "/cloud_storage": {"get": {"tags": ["Config"], "operationId": "cloud_storage_configuration", "summary": "Get Cloud Storage", "description": "Get the current Cloud Storage Configuration.\n", "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Current Cloud Storage Configuration", "schema": {"$ref": "#/definitions/BackupConfiguration"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "patch": {"tags": ["Config"], "operationId": "update_cloud_storage_configuration", "summary": "Update Cloud Storage", "description": "Update the current Cloud Storage Configuration.\n", "parameters": [{"name": "body", "in": "body", "description": "Options for Cloud Storage Configuration", "required": true, "schema": {"$ref": "#/definitions/BackupConfiguration"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "200": {"description": "New state for specified model set.", "schema": {"$ref": "#/definitions/BackupConfiguration"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/color_collections": {"get": {"tags": ["ColorCollection"], "operationId": "all_color_collections", "summary": "Get all Color Collections", "description": "### Get an array of all existing Color Collections\nGet a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)\n\nGet all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)\n\nGet all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)\n\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollections", "schema": {"type": "array", "items": {"$ref": "#/definitions/ColorCollection"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "post": {"tags": ["ColorCollection"], "operationId": "create_color_collection", "summary": "Create ColorCollection", "description": "### Create a custom color collection with the specified information\n\nCreates a new custom color collection object, returning the details, including the created id.\n\n**Update** an existing color collection with [Update Color Collection](#!/ColorCollection/update_color_collection)\n\n**Permanently delete** an existing custom color collection with [Delete Color Collection](#!/ColorCollection/delete_color_collection)\n\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "body", "in": "body", "description": "ColorCollection", "required": true, "schema": {"$ref": "#/definitions/ColorCollection"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollection", "schema": {"$ref": "#/definitions/ColorCollection"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/color_collections/custom": {"get": {"tags": ["ColorCollection"], "operationId": "color_collections_custom", "summary": "Get all Custom Color Collections", "description": "### Get an array of all existing **Custom** Color Collections\nGet a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)\n\nGet all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)\n\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollections", "schema": {"type": "array", "items": {"$ref": "#/definitions/ColorCollection"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/color_collections/standard": {"get": {"tags": ["ColorCollection"], "operationId": "color_collections_standard", "summary": "Get all Standard Color Collections", "description": "### Get an array of all existing **Standard** Color Collections\nGet a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)\n\nGet all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)\n\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollections", "schema": {"type": "array", "items": {"$ref": "#/definitions/ColorCollection"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/color_collections/default": {"put": {"tags": ["ColorCollection"], "operationId": "set_default_color_collection", "summary": "Set Default Color Collection", "description": "### Set the global default Color Collection by ID\n\nReturns the new specified default Color Collection object.\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "collection_id", "in": "query", "description": "ID of color collection to set as default", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollection", "schema": {"$ref": "#/definitions/ColorCollection"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "get": {"tags": ["ColorCollection"], "operationId": "default_color_collection", "summary": "Get Default Color Collection", "description": "### Get the default color collection\n\nUse this to retrieve the default Color Collection.\n\nSet the default color collection with [ColorCollection](#!/ColorCollection/set_default_color_collection)\n", "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollection", "schema": {"$ref": "#/definitions/ColorCollection"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/color_collections/{collection_id}": {"get": {"tags": ["ColorCollection"], "operationId": "color_collection", "summary": "Get Color Collection by ID", "description": "### Get a Color Collection by ID\n\nUse this to retrieve a specific Color Collection.\nGet a **single** color collection by id with [ColorCollection](#!/ColorCollection/color_collection)\n\nGet all **standard** color collections with [ColorCollection](#!/ColorCollection/color_collections_standard)\n\nGet all **custom** color collections with [ColorCollection](#!/ColorCollection/color_collections_custom)\n\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "collection_id", "in": "path", "description": "Id of Color Collection", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollection", "schema": {"$ref": "#/definitions/ColorCollection"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "patch": {"tags": ["ColorCollection"], "operationId": "update_color_collection", "summary": "Update Custom Color collection", "description": "### Update a custom color collection by id.\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "collection_id", "in": "path", "description": "Id of Custom Color Collection", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "ColorCollection", "required": true, "schema": {"$ref": "#/definitions/ColorCollection"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "ColorCollection", "schema": {"$ref": "#/definitions/ColorCollection"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["ColorCollection"], "operationId": "delete_color_collection", "summary": "Delete ColorCollection", "description": "### Delete a custom color collection by id\n\nThis operation permanently deletes the identified **Custom** color collection.\n\n**Standard** color collections cannot be deleted\n\nBecause multiple color collections can have the same label, they must be deleted by ID, not name.\n**Note**: Only an API user with the Admin role can call this endpoint. Unauthorized requests will return `Not Found` (404) errors.\n\n", "parameters": [{"name": "collection_id", "in": "path", "description": "Id of Color Collection", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Success"}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Successfully deleted.", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_favorite/search": {"get": {"tags": ["Content"], "operationId": "search_content_favorites", "summary": "Search Favorite Contents", "description": "### Search Favorite Content\n\nIf multiple search params are given and `filter_or` is FALSE or not specified,\nsearch params are combined in a logical AND operation.\nOnly rows that match *all* search param criteria will be returned.\n\nIf `filter_or` is TRUE, multiple search params are combined in a logical OR operation.\nResults will include rows that match **any** of the search criteria.\n\nString search params use case-insensitive matching.\nString search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.\nexample=\"dan%\" will match \"danger\" and \"Danzig\" but not \"David\"\nexample=\"D_m%\" will match \"Damage\" and \"dump\"\n\nInteger search params can accept a single value or a comma separated list of values. The multiple\nvalues will be combined under a logical OR operation - results will match at least one of\nthe given values.\n\nMost search params can accept \"IS NULL\" and \"NOT NULL\" as special expressions to match\nor exclude (respectively) rows where the column is null.\n\nBoolean search params accept only \"true\" and \"false\" as values.\n\n", "parameters": [{"name": "id", "in": "query", "description": "Match content favorite id(s)", "required": false, "type": "string"}, {"name": "user_id", "in": "query", "description": "Match user id(s).To create a list of multiple ids, use commas as separators", "required": false, "type": "string"}, {"name": "content_metadata_id", "in": "query", "description": "Match content metadata id(s).To create a list of multiple ids, use commas as separators", "required": false, "type": "string"}, {"name": "dashboard_id", "in": "query", "description": "Match dashboard id(s).To create a list of multiple ids, use commas as separators", "required": false, "type": "string"}, {"name": "look_id", "in": "query", "description": "Match look id(s).To create a list of multiple ids, use commas as separators", "required": false, "type": "string"}, {"name": "board_id", "in": "query", "description": "Match board id(s).To create a list of multiple ids, use commas as separators", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return. (used with offset)", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any. (used with limit)", "required": false, "type": "integer", "format": "int64"}, {"name": "sorts", "in": "query", "description": "Fields to sort by.", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}, {"name": "filter_or", "in": "query", "description": "Combine given search criteria in a boolean OR expression", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Favorite Content", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContentFavorite"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_favorite/{content_favorite_id}": {"get": {"tags": ["Content"], "operationId": "content_favorite", "summary": "Get Favorite Content", "description": "### Get favorite content by its id", "parameters": [{"name": "content_favorite_id", "in": "path", "description": "Id of favorite content", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Favorite Content", "schema": {"$ref": "#/definitions/ContentFavorite"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["Content"], "operationId": "delete_content_favorite", "summary": "Delete Favorite Content", "description": "### Delete favorite content", "parameters": [{"name": "content_favorite_id", "in": "path", "description": "Id of favorite content", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Successfully deleted.", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_favorite": {"post": {"tags": ["Content"], "operationId": "create_content_favorite", "summary": "Create Favorite Content", "description": "### Create favorite content", "parameters": [{"name": "body", "in": "body", "description": "Favorite Content", "required": true, "schema": {"$ref": "#/definitions/ContentFavorite"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Favorite Content", "schema": {"$ref": "#/definitions/ContentFavorite"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_metadata": {"get": {"tags": ["Content"], "operationId": "all_content_metadatas", "summary": "Get All Content Metadatas", "description": "### Get information about all content metadata in a space.\n", "parameters": [{"name": "parent_id", "in": "query", "description": "Parent space of content.", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContentMeta"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_metadata/{content_metadata_id}": {"patch": {"tags": ["Content"], "operationId": "update_content_metadata", "summary": "Update Content Metadata", "description": "### Move a piece of content.\n", "parameters": [{"name": "content_metadata_id", "in": "path", "description": "Id of content metadata", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "Content Metadata", "required": true, "schema": {"$ref": "#/definitions/ContentMeta"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata", "schema": {"$ref": "#/definitions/ContentMeta"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "get": {"tags": ["Content"], "operationId": "content_metadata", "summary": "Get Content Metadata", "description": "### Get information about an individual content metadata record.\n", "parameters": [{"name": "content_metadata_id", "in": "path", "description": "Id of content metadata", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata", "schema": {"$ref": "#/definitions/ContentMeta"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_metadata_access": {"post": {"tags": ["Content"], "operationId": "create_content_metadata_access", "summary": "Create Content Metadata Access", "description": "### Create content metadata access.\n", "parameters": [{"name": "body", "in": "body", "description": "Content Metadata Access", "required": true, "schema": {"$ref": "#/definitions/ContentMetaGroupUser"}}, {"name": "send_boards_notification_email", "in": "query", "description": "Optionally sends notification email when granting access to a board.", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "409": {"description": "Resource Already Exists", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata Access", "schema": {"$ref": "#/definitions/ContentMetaGroupUser"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query", "x-looker-rate-limited": true}, "get": {"tags": ["Content"], "operationId": "all_content_metadata_accesses", "summary": "Get All Content Metadata Accesses", "description": "### All content metadata access records for a content metadata item.\n", "parameters": [{"name": "content_metadata_id", "in": "query", "description": "Id of content metadata", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata Access", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContentMetaGroupUser"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_metadata_access/{content_metadata_access_id}": {"put": {"tags": ["Content"], "operationId": "update_content_metadata_access", "summary": "Update Content Metadata Access", "description": "### Update type of access for content metadata.\n", "parameters": [{"name": "content_metadata_access_id", "in": "path", "description": "Id of content metadata access", "required": true, "type": "string"}, {"name": "body", "in": "body", "description": "Content Metadata Access", "required": true, "schema": {"$ref": "#/definitions/ContentMetaGroupUser"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content Metadata Access", "schema": {"$ref": "#/definitions/ContentMetaGroupUser"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "delete": {"tags": ["Content"], "operationId": "delete_content_metadata_access", "summary": "Delete Content Metadata Access", "description": "### Remove content metadata access.\n", "parameters": [{"name": "content_metadata_access_id", "in": "path", "description": "Id of content metadata access", "required": true, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "204": {"description": "Successfully deleted.", "schema": {"type": "string"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content/{terms}": {"get": {"tags": ["Content"], "operationId": "search_content", "summary": "Search Content", "description": "### Search across looks, dashboards, and lookml dashboards. The terms field will be matched against the\ntitle and description of the content and the closest results are returned. Content that has been frequently\nviewed and those pieces of content stored in public folders will be ranked more highly in the results.\n\nThis endpoint does not return a full description of these content types. For more specific information\nabout each type please refer to the individual content specific API endpoints.\n\nGet the **full details** of a specific dashboard (or lookml dashboard) by id with [dashboard()](#!/Dashboard/dashboard)\nGet the **full details** of a specific look by id with [look()](#!/Look/look)\n", "parameters": [{"name": "terms", "in": "path", "description": "Search terms", "required": true, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}, {"name": "types", "in": "query", "description": "Content types requested (dashboard, look, lookml_dashboard).", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return. (used with offset and takes priority over page and per_page)", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any. (used with limit and takes priority over page and per_page)", "required": false, "type": "integer", "format": "int64"}, {"name": "page", "in": "query", "description": "Requested page.", "required": false, "type": "integer", "format": "int64"}, {"name": "per_page", "in": "query", "description": "Results per page.", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "content", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContentSearch"}}}}, "x-looker-status": "beta", "x-looker-activity-type": "non_query"}}, "/content_thumbnail/{type}/{resource_id}": {"get": {"tags": ["Content"], "operationId": "content_thumbnail", "summary": "Get Content Thumbnail", "description": "### Get an image representing the contents of a dashboard or look.\n\nThe returned thumbnail is an abstract representation of the contents of a dashbord or look and does not\nreflect the actual data displayed in the respective visualizations.\n", "produces": ["image/svg+xml", "image/png"], "parameters": [{"name": "type", "in": "path", "description": "Either dashboard or look", "required": true, "type": "string"}, {"name": "resource_id", "in": "path", "description": "ID of the dashboard or look to render", "required": true, "type": "string"}, {"name": "reload", "in": "query", "description": "Whether or not to refresh the rendered image with the latest content", "required": false, "type": "string"}, {"name": "theme", "in": "query", "description": "Light or dark background. Default is \"light\"", "required": false, "type": "string"}, {"name": "format", "in": "query", "description": "A value of png produces a thumbnail in PNG format instead of SVG (default)", "required": false, "type": "string"}, {"name": "width", "in": "query", "description": "The width of the image if format is supplied", "required": false, "type": "integer", "format": "int64"}, {"name": "height", "in": "query", "description": "The height of the image if format is supplied", "required": false, "type": "integer", "format": "int64"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content thumbnail", "schema": {"type": "string"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}}, "x-looker-status": "stable", "x-looker-activity-type": "db_query"}}, "/content_validation": {"get": {"tags": ["Content"], "operationId": "content_validation", "summary": "Validate Content", "description": "### Validate All Content\n\nPerforms validation of all looks and dashboards\nReturns a list of errors found as well as metadata about the content validation run.\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content validation results", "schema": {"$ref": "#/definitions/ContentValidation"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/content_view/search": {"get": {"tags": ["Content"], "operationId": "search_content_views", "summary": "Search Content Views", "description": "### Search Content Views\n\nIf multiple search params are given and `filter_or` is FALSE or not specified,\nsearch params are combined in a logical AND operation.\nOnly rows that match *all* search param criteria will be returned.\n\nIf `filter_or` is TRUE, multiple search params are combined in a logical OR operation.\nResults will include rows that match **any** of the search criteria.\n\nString search params use case-insensitive matching.\nString search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.\nexample=\"dan%\" will match \"danger\" and \"Danzig\" but not \"David\"\nexample=\"D_m%\" will match \"Damage\" and \"dump\"\n\nInteger search params can accept a single value or a comma separated list of values. The multiple\nvalues will be combined under a logical OR operation - results will match at least one of\nthe given values.\n\nMost search params can accept \"IS NULL\" and \"NOT NULL\" as special expressions to match\nor exclude (respectively) rows where the column is null.\n\nBoolean search params accept only \"true\" and \"false\" as values.\n\n", "parameters": [{"name": "view_count", "in": "query", "description": "Match view count", "required": false, "type": "string"}, {"name": "group_id", "in": "query", "description": "Match Group Id", "required": false, "type": "string"}, {"name": "look_id", "in": "query", "description": "Match look_id", "required": false, "type": "string"}, {"name": "dashboard_id", "in": "query", "description": "Match dashboard_id", "required": false, "type": "string"}, {"name": "content_metadata_id", "in": "query", "description": "Match content metadata id", "required": false, "type": "string"}, {"name": "start_of_week_date", "in": "query", "description": "Match start of week date (format is \"YYYY-MM-DD\")", "required": false, "type": "string"}, {"name": "all_time", "in": "query", "description": "True if only all time view records should be returned", "required": false, "type": "boolean"}, {"name": "user_id", "in": "query", "description": "Match user id", "required": false, "type": "string"}, {"name": "fields", "in": "query", "description": "Requested fields", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return. Use with `offset` to manage pagination of results", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning data", "required": false, "type": "integer", "format": "int64"}, {"name": "sorts", "in": "query", "description": "Fields to sort by", "required": false, "type": "string"}, {"name": "filter_or", "in": "query", "description": "Combine given search criteria in a boolean OR expression", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Content View", "schema": {"type": "array", "items": {"$ref": "#/definitions/ContentView"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/credentials_email/search": {"get": {"tags": ["User"], "operationId": "search_credentials_email", "summary": "Search CredentialsEmail", "description": "### Search email credentials\n\nReturns all credentials_email records that match the given search criteria.\n\nIf multiple search params are given and `filter_or` is FALSE or not specified,\nsearch params are combined in a logical AND operation.\nOnly rows that match *all* search param criteria will be returned.\n\nIf `filter_or` is TRUE, multiple search params are combined in a logical OR operation.\nResults will include rows that match **any** of the search criteria.\n\nString search params use case-insensitive matching.\nString search params can contain `%` and '_' as SQL LIKE pattern match wildcard expressions.\nexample=\"dan%\" will match \"danger\" and \"Danzig\" but not \"David\"\nexample=\"D_m%\" will match \"Damage\" and \"dump\"\n\nInteger search params can accept a single value or a comma separated list of values. The multiple\nvalues will be combined under a logical OR operation - results will match at least one of\nthe given values.\n\nMost search params can accept \"IS NULL\" and \"NOT NULL\" as special expressions to match\nor exclude (respectively) rows where the column is null.\n\nBoolean search params accept only \"true\" and \"false\" as values.\n\n\nCalls to this endpoint may be denied by [Looker (Google Cloud core)](https://cloud.google.com/looker/docs/r/looker-core/overview).\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return (used with `offset`).", "required": false, "type": "integer", "format": "int64"}, {"name": "offset", "in": "query", "description": "Number of results to skip before returning any (used with `limit`).", "required": false, "type": "integer", "format": "int64"}, {"name": "sorts", "in": "query", "description": "Fields to sort by.", "required": false, "type": "string"}, {"name": "id", "in": "query", "description": "Match credentials_email id.", "required": false, "type": "string"}, {"name": "email", "in": "query", "description": "Match credentials_email email.", "required": false, "type": "string"}, {"name": "emails", "in": "query", "description": "Find credentials_email that match given emails.", "required": false, "type": "string"}, {"name": "filter_or", "in": "query", "description": "Combine given search criteria in a boolean OR expression.", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "403": {"description": "Permission Denied", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Credentials Email", "schema": {"type": "array", "items": {"$ref": "#/definitions/CredentialsEmailSearch"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/custom_welcome_email": {"get": {"tags": ["Config"], "operationId": "custom_welcome_email", "summary": "Get Custom Welcome Email", "description": "### Get the current status and content of custom welcome emails\n", "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Custom Welcome Email", "schema": {"$ref": "#/definitions/CustomWelcomeEmail"}}}, "deprecated": true, "x-looker-status": "deprecated", "x-looker-activity-type": "non_query"}, "patch": {"tags": ["Config"], "operationId": "update_custom_welcome_email", "summary": "Update Custom Welcome Email Content", "description": "Update custom welcome email setting and values. Optionally send a test email with the new content to the currently logged in user.\n", "parameters": [{"name": "body", "in": "body", "description": "Custom Welcome Email setting and value to save", "required": true, "schema": {"$ref": "#/definitions/CustomWelcomeEmail"}}, {"name": "send_test_welcome_email", "in": "query", "description": "If true a test email with the content from the request will be sent to the current user after saving", "required": false, "type": "boolean"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Custom Welcome Email", "schema": {"$ref": "#/definitions/CustomWelcomeEmail"}}}, "deprecated": true, "x-looker-status": "deprecated", "x-looker-activity-type": "non_query"}}, "/custom_welcome_email_test": {"put": {"tags": ["Config"], "operationId": "update_custom_welcome_email_test", "summary": "Send a test welcome email to the currently logged in user with the supplied content ", "description": "Requests to this endpoint will send a welcome email with the custom content provided in the body to the currently logged in user.\n", "parameters": [{"name": "body", "in": "body", "description": "Subject, header, and Body of the email to be sent.", "required": true, "schema": {"$ref": "#/definitions/WelcomeEmailTest"}}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "422": {"description": "Validation Error", "schema": {"$ref": "#/definitions/ValidationError"}}, "429": {"description": "Too Many Requests", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "Send Test Welcome Email", "schema": {"$ref": "#/definitions/WelcomeEmailTest"}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}}, "/dashboards": {"get": {"tags": ["Dashboard"], "operationId": "all_dashboards", "summary": "Get All Dashboards", "description": "### Get information about all active dashboards.\n\nReturns an array of **abbreviated dashboard objects**. Dashboards marked as deleted are excluded from this list.\n\nGet the **full details** of a specific dashboard by id with [dashboard()](#!/Dashboard/dashboard)\n\nFind **deleted dashboards** with [search_dashboards()](#!/Dashboard/search_dashboards)\n", "parameters": [{"name": "fields", "in": "query", "description": "Requested fields.", "required": false, "type": "string"}], "responses": {"400": {"description": "Bad Request", "schema": {"$ref": "#/definitions/Error"}}, "404": {"description": "Not Found", "schema": {"$ref": "#/definitions/Error"}}, "200": {"description": "dashboards", "schema": {"type": "array", "items": {"$ref": "#/definitions/DashboardBase"}}}}, "x-looker-status": "stable", "x-looker-activity-type": "non_query"}, "post": {"tags": ["Dashboard"], "operationId": "create_dashboard", "summary": "Create Dashboard", "description": "### Create a new dashboard\n\nCreates a new dashboard object and returns the details of the newly created dashboard.\n\n`Title` and `space_id` are required fields.\n`Space_id` must contain 
[...]
