{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Definition",
    "description": "The OpenAPI Specification is a standard format to define the structure and syntax of REST APIs. OpenAPI documents are both machine and human-readable, which enables anyone to easily determine how each API works. [More details](https://www.openapis.org/faq)",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.fivetran.com",
      "variables": {}
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/v1/teams/{teamId}/connectors": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List all connector memberships",
        "description": "Returns connector memberships within a team.",
        "operationId": "get_team_memberships_in_connectors",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add connector membership",
        "description": "Adds a connector role within a team",
        "operationId": "add_team_membership_in_connector",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/users/{userId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve user membership in a team",
        "description": "Returns the user role a user has within a team",
        "operationId": "get_user_in_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamMembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete a user from a team",
        "description": "Removes a user from a team",
        "operationId": "delete_user_from_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Modify a user membership",
        "description": "Updates a user role within a team in your Fivetran account",
        "operationId": "update_user_membership",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List All Users",
        "description": "Returns a list of all users within your Fivetran account.",
        "operationId": "list_all_users",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/UserResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Invite a User",
        "description": "Invites a new user to your Fivetran account. The invited user will have access to the account only after accepting the invitation. Invited user details are still accessible through the API.",
        "operationId": "create_user",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/teams/{teamId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve team details",
        "description": "Returns information for a given team within your Fivetran account",
        "operationId": "team_details",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete a team",
        "description": "Deletes a team from your Fivetran account",
        "operationId": "delete_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Modify a team",
        "description": "Updates information for an existing team within your Fivetran account",
        "operationId": "modify_team",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TeamResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/role": {
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete team role in account",
        "description": "Removes a team role within your Fivetran account",
        "operationId": "delete_team_membership_in_account",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}/groups": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "List all group memberships",
        "description": "Returns all group membership objects for a user within your Fivetran account.",
        "operationId": "get_user_memberships_in_groups",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "User Management"
        ],
        "summary": "Add group membership",
        "description": "Adds a group membership.",
        "operationId": "add_user_membership_in_group",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/teams/{teamId}/groups": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "List all group memberships",
        "description": "Returns a group membership within a team",
        "operationId": "get_team_memberships_in_groups",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/MembershipResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "Add group membership",
        "description": "Adds a group membership in a team",
        "operationId": "add_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/certificates": {
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a certificate",
        "description": "Approves a certificate for a connector/destination, so Fivetran trusts this certificate for a source/destination database. The connector/destination setup tests will fail if a non-approved certificate is provided.",
        "operationId": "approve_certificate",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustCertificateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/destinations": {
      "post": {
        "tags": [
          "Destination Management"
        ],
        "summary": "Create destination",
        "description": "Creates a new destination within a specified group in your Fivetran account.",
        "operationId": "create_destination",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewDestinationRequest"
              },
              "examples": {
                "create_request": {
                  "value": {
                    "group_id": "target_group_id",
                    "service": "snowflake",
                    "region": "GCP_US_EAST4",
                    "time_zone_offset": -5,
                    "config": {
                      "host": "your-account.snowflakecomputing.com",
                      "port": 443,
                      "database": "fivetran",
                      "auth": "PASSWORD",
                      "user": "fivetran_user",
                      "password": "123456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DestinationResponse"
                    }
                  }
                },
                "examples": {
                  "create_successful_response": {
                    "value": {
                      "code": "Success",
                      "message": "Destination has been created",
                      "data": {
                        "id": "decent_dropsy",
                        "group_id": "decent_dropsy",
                        "service": "snowflake",
                        "region": "GCP_US_EAST4",
                        "time_zone_offset": -5,
                        "setup_status": "connected",
                        "setup_tests": [
                          {
                            "title": "Host Connection",
                            "status": "PASSED",
                            "message": ""
                          },
                          {
                            "title": "Database Connection",
                            "status": "PASSED",
                            "message": ""
                          },
                          {
                            "title": "Permission Test",
                            "status": "PASSED",
                            "message": ""
                          }
                        ],
                        "config": {
                          "host": "your-account.snowflakecomputing.com",
                          "port": 443,
                          "database": "fivetran",
                          "auth": "PASSWORD",
                          "user": "fivetran_user",
                          "password": "******"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal error",
            "content": {
              "application/json": {
                "examples": {
                  "invalid_input_group_id": {
                    "value": {
                      "code": "InvalidInput",
                      "message": "Field 'group_id' is required"
                    }
                  },
                  "invalid_input_service": {
                    "value": {
                      "code": "InvalidInput",
                      "message": "Field 'service' is required"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{id}": {
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete a user",
        "description": "Deletes a user from your Fivetran account. You will be unable to delete an account owner user if there is only one remaining.",
        "operationId": "delete_user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/schemas/{schemaName}/tables/{tableName}/columns/{columnName}": {
      "patch": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Modify a Connector Column Config",
        "description": "Updates the column config within your table for an existing connector within your Fivetran account",
        "operationId": "modify_connector_column_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schemaName",
            "in": "path",
            "description": "The database schema name within your destination (different from the connector schema)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableName",
            "in": "path",
            "description": "The table name within your database schema",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "columnName",
            "in": "path",
            "description": "The column name within your table",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ColumnUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Retrieve User Details",
        "description": "Returns a user object if a valid identifier was provided.",
        "operationId": "user_details",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      },
      "patch": {
        "tags": [
          "User Management"
        ],
        "summary": "Modify a User",
        "description": "Updates information for an existing user within your Fivetran account.",
        "operationId": "modify_user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/UserResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/groups/{groupId}": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "Retrieve Group Details",
        "description": "Returns a group object if a valid identifier was provided.",
        "operationId": "group_details",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Group Management"
        ],
        "summary": "Delete a group",
        "description": "Deletes a group from your Fivetran account.",
        "operationId": "delete_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Group Management"
        ],
        "summary": "Modify a Group",
        "description": "Updates information for an existing group within your Fivetran account.",
        "operationId": "modify_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}/connectors/{connectorId}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "Retrieve connector membership",
        "description": "Returns a connector membership object.",
        "operationId": "get_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete connector membership",
        "description": "Removes connector membership.",
        "operationId": "delete_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "User Management"
        ],
        "summary": "Update connector membership",
        "description": "Updates connector membership.",
        "operationId": "update_user_membership_in_connector",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/connect-card": {
      "post": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Connect Card",
        "description": "Generates the Connect Card URI for the connector",
        "operationId": "connect_card",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectCardConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorConnectCardResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/metadata/{name}": {
      "get": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Retrieve source metadata",
        "description": "Returns all available source types within your Fivetran account. This endpoint makes it easier to display Fivetran connectors within your application because it provides metadata including the proper source name (‘Facebook Ad Account’ instead of facebook_ad_account), the source icon, and links to Fivetran resources. As we update source names and icons, that metadata will automatically update within this endpoint",
        "operationId": "metadata_connectors",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "The paging cursor. Read more about [pagination in our documentation](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of records to fetch per page, accepts a number in the range 1..1000. The default value is 100",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/MetadataResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/schemas": {
      "get": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Retrieve a Connector Schema Config",
        "description": "Returns the connector schema config for an existing connector within your Fivetran account",
        "operationId": "connector_schema_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Modify a Connector Schema Config",
        "description": "Updates the schema config for an existing connector within your Fivetran account (for a single schema for a connector with multiple schemas)",
        "operationId": "modify_connector_schema_config",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardConfigUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/StandardConfigResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dbt/transformations/{transformationId}": {
      "get": {
        "tags": [
          "DBT Transformation Management"
        ],
        "summary": "Retrieve DBT Transformation Details",
        "description": "Returns a DBT Transformation details if a valid identifier was provided.",
        "operationId": "dbt_transformation_details",
        "parameters": [
          {
            "name": "transformationId",
            "in": "path",
            "description": "The unique identifier for the DBT Transformation within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransformationDetailsResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DBT Transformation Management"
        ],
        "summary": "Delete DBT Transformation",
        "description": "Deletes a DBT Transformation from your DBT Project.",
        "operationId": "delete_dbt_transformation",
        "parameters": [
          {
            "name": "transformationId",
            "in": "path",
            "description": "The unique identifier for the DBT Transformation within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DBT Transformation Management"
        ],
        "summary": "Modify DBT Transformation",
        "description": "Updates information for an existing DBT Transformation.",
        "operationId": "modify_dbt_transformation",
        "parameters": [
          {
            "name": "transformationId",
            "in": "path",
            "description": "The unique identifier for the DBT Transformation within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransformationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransformationDetailsResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dbt/projects/{projectId}": {
      "get": {
        "tags": [
          "DBT Transformation Management"
        ],
        "summary": "Retrieve DBT Project Details",
        "description": "Returns a DBT Project details if a valid identifier was provided.",
        "operationId": "dbt_project_details",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "The unique identifier for the DBT Project within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DbtProjectDetailsResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/groups/{groupId}": {
      "get": {
        "tags": [
          "Team Management"
        ],
        "summary": "Retrieve group membership",
        "description": "Returns a group membership within a team.",
        "operationId": "get_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Team Management"
        ],
        "summary": "Delete group membership",
        "description": "Removes group membership in a team",
        "operationId": "delete_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Team Management"
        ],
        "summary": "Update group membership",
        "description": "Updates group membership in a team",
        "operationId": "update_team_membership_in_group",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The unique identifier for the team within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMembershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/resync": {
      "post": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Re-sync Connector Data (Historical Sync)",
        "description": "Triggers a full historical sync of a connector or multiple schema tables within a connector. If the connector is paused, the table sync will be scheduled to be performed when the connector is re-enabled. If there is a data sync already in progress, we will try to complete it. If it fails, the request will be declined and the HTTP 409 Conflict error will be returned.",
        "operationId": "resync_connector",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResyncConnectorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/webhooks/group/{groupId}": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Create group webhook",
        "description": "This endpoint allows you to create a new webhook for a given group",
        "operationId": "create_group_webhook",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The group ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/{userId}/role": {
      "delete": {
        "tags": [
          "User Management"
        ],
        "summary": "Delete user role in account",
        "description": "Removes a user's role in account.",
        "operationId": "delete_user_membership_in_account",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier for the user within the account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Bad request"
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/test": {
      "post": {
        "tags": [
          "Connector Management"
        ],
        "summary": "Run connector setup tests",
        "description": "Runs the setup tests for an existing connector within your Fivetran account.",
        "operationId": "run_setup_tests",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunSetupTestsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/ConnectorResponseV1"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/groups/{groupId}/users": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "List All Users within a Group",
        "description": "Returns a list of information about all users within a group in your Fivetran account.",
        "operationId": "list_all_users_in_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/UserResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group Management"
        ],
        "summary": "Add a User to a Group",
        "description": "Adds an existing user to a group in your Fivetran account.",
        "operationId": "add_user_to_group",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier for the group within the Fivetran system.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserToGroupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/connectors/{connectorId}/schemas/tables/resync": {
      "post": {
        "tags": [
          "Connector Schema Management"
        ],
        "summary": "Re-sync Connector Table Data",
        "description": "Triggers a historical sync of all data for multiple schema tables within a connector. This action does not override the standard sync frequency you defined in the Fivetran dashboard.",
        "operationId": "resync_tables",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within the Fivetran system",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/destinations/{destinationId}/test": {
      "post": {
        "tags": [
          "Destination Management"
        ],
        "summary": "Run Destination Setup Tests",
        "description": "Runs the setup tests for an existing destination within your Fivetran account.",
        "operationId": "run_destination_setup_tests",
        "parameters": [
          {
            "name": "destinationId",
            "in": "path",
            "description": "The unique identifier for the destination within your Fivetran account.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json;version=2",
              "default": "application/json;version=2"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunSetupTestsRequest"
              },
              "examples": {
                "run_setup_tests_request": {
                  "value": {
                    "trust_certificates": true,
                    "trust_fingerprints": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DestinationResponse"
                    }
                  }
                },
                "examples": {
                  "run_setup_tests_response": {
                    "value": {
                      "code": "Success",
                      "message": "Setup tests have been completed",
                      "data": {
                        "id": "destination_id",
                        "group_id": "group_id",
                        "service": "postgres_rds_warehouse",
                        "region": "GCP_US_EAST4",
                        "time_zone_offset": -8,
                        "setup_status": "incomplete",
                        "setup_tests": [
                          {
                            "title": "Connecting to SSH tunnel",
                            "status": "FAILED",
                            "message": "Auth fail"
                          }
                        ],
                        "config": {
                          "public_key": "ssh-rsa ... fivetran user key",
                          "database": "database_name",
                          "password": "******",
                          "tunnel_port": "22",
                          "port": "5432",
                          "host": "test.host.com",
                          "tunnel_host": "test.tunnel.host.com",
                          "user": "user_name",
                          "connection_method": "SshTunnel",
                          "tunnel_user": "tunnel_user_name"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found error"
          }
        }
      }
    },
    "/v1/metadata/connectors/{connectorId}/schemas": {
      "get": {
        "tags": [
          "Metadata Management"
        ],
        "summary": "Retrieve schema metadata",
        "description": "Returns schema-level metadata for an existing connector within your Fivetran account.",
        "operationId": "schema_metadata",
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "The unique identifier for the connector within your Fivetran account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/SchemaMetadataResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups": {
      "get": {
        "tags": [
          "Group Management"
        ],
        "summary": "List All Groups",
        "description": "Returns a list of all groups within your Fivetran account.",
        "operationId": "list_all_groups",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Paging cursor, [read more about pagination](https://fivetran.com/docs/rest-api/pagination)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to fetch per page. Accepts a number in the range 1..1000; the default value is 100.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "properties": {
                        "items": {
                          "type": "array",
                          "description": "The collection of return items",
                          "items": {
                            "$ref": "#/components/schemas/GroupResponse"
                          }
                        },
                        "nextCursor": {
                          "type": "string",
                          "description": "The value of the cursor parameter for the next page"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group Management"
        ],
        "summary": "Create a Group",
        "description": "Creates a new group in your Fivetran account.",
        "operationId": "create_group",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewGroupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
                      "type": "string",
                      "description": "Response status text"
                    },
                    "data": {
                      "$ref": "#/components/schemas/GroupResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fingerprints": {
      "post": {
        "tags": [
          "Certificate Management"
        ],
        "summary": "Approve a fingerprint",
        "description": "Approves a fingerprint, so Fivetran trusts this fingerprint for a source/destination database, and connectors can connect to the source/destination through an SSH tunnel",
        "operationId": "approve_fingerprint",
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustFingerprintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response status code"
                    },
                    "message": {
[...]
