version: "3.7"

services:
#  the_guide:
#    image: ghcr.io/grai-io/grai-core/grai-server:latest
#    ports:
#      - 8000:8000
#    environment:
#      - DB_HOST=db
#      - DB_PORT=5432
#      - DB_NAME=grai
#      - DB_USER=grai
#      - DB_PASSWORD=grai
#      - DJANGO_SUPERUSER_USERNAME=null@grai.io
#      - DJANGO_SUPERUSER_PASSWORD=super_secret
#      - SERVER_HOST=localhost
#      - FRONTEND_HOST=localhost
#    healthcheck:
#      test: "curl -f -v -H 'Accept: application/json' http://localhost:8000/health/"
#      interval: 2s
#      timeout: 5s
#      retries: 10
#      start_period: 20s
#  db:
#    image: ankane/pgvector
#    environment:
#      - POSTGRES_USER=grai
#      - POSTGRES_PASSWORD=grai
#      - POSTGRES_DB=grai
#    ports:
#      - 5432:5432
#    healthcheck:
#      test: "pg_isready -U grai"
#      interval: 2s
#      timeout: 2s
#      retries: 15
  mysql:
    image: mysql:latest
    volumes:
     - ./data/schema/:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: grai
      MYSQL_USER: grai
      MYSQL_PASSWORD: grai
      MYSQL_DATABASE: grai
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
