<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grai API</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="This is the home of the Grai API. You can access a range of APIs and docs from here."
    />
  </head>
  <body>
    <h1>Grai API</h1>
    <div>
      <h2>REST API</h2>
      <a href="/api/v1/schema/swagger-ui/">Swagger Docs</a>
    </div>
    <div>
      <h2>Graph API</h2>
      <a href="/graphql/">Playground</a>
    </div>
    <div>
      <h2>Django admin</h2>
      <a href="/admin/">Admin Interface</a>
    </div>
    <div>
      <h2>Grai Docs</h2>
      <a href="https://docs.grai.io">Grai Docs</a>
    </div>
    <div>
      <h2>Grai Cloud</h2>
      <a href="https://app.grai.io">Grai Cloud</a>
    </div>
    <div>
      <h2>Homepage</h2>
      <a href="https://grai.io">https://grai.io</a>
    </div>
  </body>
</html>
