[tool.poetry]
name = "grai_source_dbt"
version = "0.0.2"
description = ""
authors = ["Ian Eaves <ian@grai.io>"]
license = "ELv2"
packages = [
    { include = "grai_source_dbt", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "^1.9.1"
networkx = "^2.8.3"
grai-client = "^0.1.8"

[tool.poetry.group.dev.dependencies]
isort = "^5.10.1"
pytest = "^7.2.0"

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
