[tool.poetry]
name = "the_guide"
version = "0.1.1"
description = ""
authors = ["Ian Eaves <ian@grai.io>"]
license = "Elastic-2.0"

[tool.poetry.dependencies]
python = "^3.10"
Django = "^4.0.0"
gunicorn = "^20.0.4"
djangorestframework = "^3.12.4"
whitenoise = {extras = ["brotli"], version = "^5.3.0"}
django-phonenumber-field ={extras = ["phonenumberslite"], version = "^6.3.0"} 
django-cors-headers = "^3.13.0"
social-auth-app-django = "^5.0.0"
djangorestframework-simplejwt = {extras = ["crypto"], version = "^5.2.0"}
strawberry-django-plus = "^1.15.0"
python-decouple = "^3.6"
strawberry-graphql = "^0.115.0"
psycopg2 = "^2.9.3"
drf-spectacular = "^0.22.1"
django-extensions = "^3.2"
djangorestframework-api-key = "^2"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
pytest = "^7.1.2"
pytest-django = "^4.5.2"
django-stubs = "^1.12.0"
djangorestframework-stubs = "^1.7.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
