version: '3.7'

services:
  the_guide:
    image: ghcr.io/grai-io/grai-core/grai-server:latest
    #build: ./app
    command: gunicorn --bind 0.0.0.0:8000 the_guide.wsgi
    volumes:
      - ./app/:/usr/src/app/
    ports:
      - 8000:8000
    environment:
      - DB_HOST=db
    networks:
      - the_guide
    env_file:
      - ./app/env
  db:
    image: postgres:14.3-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=grai
      - POSTGRES_PASSWORD=grai
      - POSTGRES_DB=grai
    networks:
      - the_guide
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U grai"]
      interval: 2s
      timeout: 2s
      retries: 20

networks:
  the_guide:
    driver: bridge

volumes:
  pgdata:
