name: CI Workflow for Grai CLI
on:
  push:
    paths:
    - "grai-cli/**"

env:
  py_ver: "3.10"
  poetry_ver: "1.2.2"
  project_dir: "grai-cli"
  
jobs:
  lint-cli:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v3

    - name: Install Python
      id: setup-python
      uses: actions/setup-python@v4
      with:
        python-version: "${{ env.py_ver }}"

    - run: pip install black isort

    - run: |
        black . --check
        isort . --profile black

  tests-cli:
    needs: lint-cli
    runs-on: ubuntu-latest
    # defaults:
    #   run:
    #     working-directory: ${{ env.project_dir }}
    # services:
    #   postgres:
    #     image: postgres:latest
    #     env:
    #       POSTGRES_USER: grai
    #       POSTGRES_PASSWORD: grai
    #       POSTGRES_DB: grai
    #     ports:
    #       - 5432:5432
    #     # needed because the postgres container does not provide a healthcheck
    #     options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    #   the_guide:
    #     image: ghcr.io/grai-io/grai-core/grai-server:latest
    #     env:
    #       DB_USER: grai
    #       DB_PASSWORD: grai
    #       DB_NAME: grai
    #     ports:
    #       - 8000:8000
    #     command: gunicorn --bind 0.0.0.0:8000 the_guide.wsgi
    steps:
    - uses: actions/checkout@v3
    
    # - uses: actions/setup-python@v4
    #   with:
    #     python-version: "${{ env.py_ver }}"

    # - run: |
    #     pip install pytest
    #     pip install .

    # - run: pytest
