name: Grai Frontend CI

on:
  pull_request:
    paths:
      - ".github/workflows/frontend-ci.yml"
      - "grai-frontend/**"

concurrency:
  group: ${{ github.ref }}-frontend-ci
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: grai-frontend

    steps:
      - uses: actions/checkout@master
      - name: Use latest Node.js
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm ci
      - name: Install eslint
        run: npm install eslint
      - name: Lint Action
        uses: wearerequired/lint-action@v2.3.0
        with:
          auto_fix: true
          eslint: true
          eslint_dir: "./grai-frontend"
          eslint_command_prefix: npx --no-install
          eslint_args: "src/**/*.{ts,tsx,test.tsx}"
          # prettier: true
          continue_on_error: false
          git_email: "github-actions[bot]@users.noreply.github.com"
      - name: Run npm tests
        run: npm test -- --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          flags: grai-frontend
          token: ${{ secrets.CODECOV_TOKEN }}

  build:
    needs: [test]

    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: grai-frontend

    steps:
      - uses: actions/checkout@master
      - name: Use latest Node.js
        uses: actions/setup-node@v3
      - name: Install dependencies
        run: npm ci
      - run: npm run build
      - name: Run bundlewatch
        run: npm run bundlewatch
        env:
          BUNDLEWATCH_GITHUB_TOKEN: ${{ secrets.BUNDLEWATCH_GITHUB_TOKEN }}
          CI_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
