name: Graph CI

on:
  pull_request:
    paths:
      - "grai-graph/**"
      - ".github/workflows/graph-ci.yml"

concurrency:
  group: ${{ github.ref }}-graph-ci
  cancel-in-progress: true

env:
  project_dir: "grai-graph"

jobs:
  lint-graph:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ vars.PY_VER }}"

      - run: pip install black isort

      - run: |
          black . --check
          isort . --profile black --check

  tests-graph:
    needs: lint-graph
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    services:
      postgres:
        image: ankane/pgvector:latest
        env:
          POSTGRES_USER: grai
          POSTGRES_PASSWORD: grai
          POSTGRES_DB: grai
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 2s --health-timeout 5s --health-retries 15

      the_guide:
        image: ghcr.io/grai-io/grai-core/grai-server:latest
        env:
          DB_USER: grai
          DB_PASSWORD: grai
          DB_NAME: grai
          DB_PORT: "5432"
          DB_HOST: "postgres"
          DJANGO_SUPERUSER_USERNAME: null@grai.io
          DJANGO_SUPERUSER_PASSWORD: super_secret
          CELERY_BROKER_URL: redis://redis:6379/0
          CELERY_RESULT_BACKEND: redis://redis:6379/0
          REDIS_GRAPH_CACHE_HOST: redis
        ports:
          - 8000:8000
        options: >-
          --health-cmd "curl -f http://localhost:8000/health/ || exit 1"
          --health-interval 2s
          --health-retries 10
          --health-start-period 60s
      redis:
        image: redis/redis-stack-server:6.2.6-v9
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ vars.PY_VER }}"

      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "${{ vars.POETRY_VER }}"

      - run: poetry install

      - name: Run Redshift Tets
        run: poetry run pytest
