name: Openlineage Integration CI

on:
  pull_request:
    paths:
      - "grai-integrations/source-openlineage/**"
      - "grai-client/**"
      - "grai-server/**"

concurrency:
  group: ${{ github.ref }}-openlineage-ci
  cancel-in-progress: true

env:
  py_ver: "3.10"
  poetry_ver: "1.2.2"
  project_dir: "grai-integrations/source-openlineage"

jobs:
  lint-integration-openlineage:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ env.py_ver }}"

      - run: pip install black isort

      - run: |
          black . --check
          isort . --profile black --check

  tests-integration-openlineage:
    needs: lint-integration-openlineage
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.py_ver }}"

      - run: |
          pip install pytest
          pip install .

      - run: pytest
