name: Redshift Integration CI

on:
  pull_request:
    paths:
      - "grai-integrations/source-redshift/**"
      - "grai-client/**"
      - "grai-server/**"
      - ".github/workflows/integration-redshift-ci.yml"


concurrency:
  group: ${{ github.ref }}-redshift-ci
  cancel-in-progress: true


env:
  project_dir: "grai-integrations/source-redshift"
  py_ver: "${{ vars.PY_VER }}"
  poetry_ver: "${{ vars.POETRY_VER }}"
  GRAI_REDSHIFT_USER: "admin"
  GRAI_REDSHIFT_PASSWORD: "${{ secrets.redshift_password }}"
  GRAI_REDSHIFT_HOST: "${{ secrets.redshift_host }}"
  GRAI_REDSHIFT_DATABASE: "dev"
  GRAI_REDSHIFT_PORT: "5439"


jobs:
  lint-integration-redshift:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: "${{ env.py_ver }}"

      - run: pip install black isort

      - run: |
          black . --check
          isort . --profile black --check

  tests-integration-redshift:
    needs: lint-integration-redshift
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.project_dir }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "${{ env.py_ver }}"

      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: "${{ env.poetry_ver }}"

      - run: poetry install

      - name: Run Redshift Tets
        run: poetry run pytest
